
html{
    background-color: #fff;
    
}

header{
    background-color: rgb(235, 184, 193);
    width: 100%;
}

h1{
    display : flex ;
    justify-content: space-around;
}

h2{
    display : flex ;
    justify-content: space-around;
}

.article1 img, .article2 img, .addedArticle img, .article3 img, .article4 img{
    position: center;
    text-align: center;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 300px;
    width : 300px;
    box-shadow: 8px 8px 0px #aaa; 
    
}

.article1 p, .article2 p,.article3 p,.article4 p, .addedArticle p{
    position: absolute;
    height: 270px;
    width : 300px;
    color: rgb(255, 255, 255);
    
}
.formulaire{
    text-align: center;
    margin-bottom: 10px;
}

footer p{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(235, 184, 193);
}

.all-article p{
    opacity : 0;
    transition : opacity .6s;
   
}

.all-article  p:hover{
    opacity : 1;
    
    background-color: rgba(0, 0, 0, 0.25);
    
}

.all-article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.btn-delete{
    position: absolute;
}

form{
    margin-top: 120px;
}